body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera {
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    margin: 0;
    padding: 0.5em;
}

.first-unity,
.second-unity,
.third-unity,
.quarter-unity {
    border: 1px solid black;
    margin: 5px 0px;
}